*{
    font-size:20px ;
}
:root{
    --text-color:red;
}
p {
    color:var( --text-color);
}

h2 {
    color : blueviolet;
    font-size: medium;"
}
html {
    /* Thử thay đổi font-size và khám phá sự thay đổi */
    font-size: 24px;
}

.text-1 {
    font-size: 1rem;
}

.text-2 {
    font-size: 2rem;
}
.box-1 {
    width: 300px;
    height: 300px;
    background-color: green;
}
.box-1:active{
    background-color: yellow;
}
.box-2:hover{
    background-color:red;
}
.box-2 {
    width: 50%;
    height: 50%;
    background-color:rgba(0, 0, 0, 0.5)
}

li  a.java:hover{
        color:yellow;
}
li a.js:hover{
    color:red;
}
