*{
    font-size:20px ;
}
:root{
    --text-color:red;
}
p {
    color:var( --text-color);
}

h2 {
    color : blueviolet;
    font-size: medium;"
}
html {
    /* Thử thay đổi font-size và khám phá sự thay đổi */
    font-size: 24px;
}

.text-1 {
    font-size: 1rem;
}

.text-2 {
    font-size: 2rem;
}